p {
    color: blue; 
    text-decoration: underline;
}

strong {
    color: red;
}

.swag {
    color:green;
}

a.swag:hover {
    padding: 1px 10px 1px 10px;
  color: #fff;
  background: #555;
  border-radius: 3px;
  border: 1px outset rgba(50,50,50,.5);
  font-family: georgia, serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}

#yolo {
    font-weight: 200;
}

div.menu-bar ul ul {
  display: none;
}

div.menu-bar li:hover > ul {
  display: block;
}

a.block-hide {
    color:red;
}

@-webkit-keyframes movey {
    from {
        opacity: 0;
       /* transform: translateX(0px);
        -webkit-transform: translateX(0px);*/
    }
    to {
        opacity: 1;
        /* transform: translateX(110px);
        -webkit-transform: translateX(110px);*/
    }
}

@keyframes movey {
     from {
         opacity: 0;
        /*  transform: translateX(0px);
        -webkit-transform: translateX(0px);*/
     }
    to {
        opacity: 1;
       /* transform: translateX(110px);
        -webkit-transform: translateX(110px); */
    }
}

span.block-hide:hover {
    color:green;
    -webkit-animation: movey 1.0s infinite;
    animation: movey 1.0s infinite;
}

swaggin.block-hide {
    color:blue;
}

span.block-hide:hover swaggin {
    color:yellow;
}

span.block-hide:hover span.block-hide {
 color:red;   
}