html {
    background: #fff;
}

z {
    background: #ff5656;
     
}

strong {
    color: red;
}

.swag {
    color:green;
}

a.swag:hover {
    padding: 1px 10px 1px 10px;
  color: #fff;
  background: #555;
  border-radius: 3px;
  border: 1px outset rgba(50,50,50,.5);
  font-family: georgia, serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}

#monee {
    background: #ffc1c1;
}

#yolo {
    font-weight: 200;
}

div.menu-bar ul ul {
  display: none;
}

div.menu-bar li:hover > ul {
  display: block;
}

a.block-hide {
    color:red;
}

@-webkit-keyframes movey {
    from {
        opacity: 0;
       /* transform: translateX(0px);
        -webkit-transform: translateX(0px);*/
    }
    to {
        opacity: 1;
        /* transform: translateX(110px);
        -webkit-transform: translateX(110px);*/
    }
}

@keyframes movey {
     from {
         opacity: 0;
        /*  transform: translateX(0px);
        -webkit-transform: translateX(0px);*/
     }
    to {
        opacity: 1;
       /* transform: translateX(110px);
        -webkit-transform: translateX(110px); */
    }
}

span.block-hide:hover {
    font-size: 20px;
    color:green;
    -webkit-animation: movey 1.0s infinite;
    animation: movey 1.0s infinite;
}

swaggin.block-hide {
    color:blue;
}

span.block-hide:hover swaggin {
    color:yellow;
}

span.block-hide:hover span.block-hide {
 color:red;   
}

span.blocks {
    display: inline-block;
    vertical-align: middle
    border-right: 1px solid #ddd;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow:0px 1px 0px rgba(255,255,255,0.05) inset;
    padding: 5px 10px 5px 10px;
    /*border-radius:3px;*/

    font-family:arial;
    background: #c4c4c4;
}

span.innerblocks {
        vertical-align: middle

    border-right: 1px solid #ddd;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow:0px 1px 0px rgba(255,255,255,0.05) inset;
    padding: 5px 10px 5px 10px;
    display:none;
    background: #d3d3d3
    border-radius:3px;
}

span.blocks:hover > span.innerblocks {
  display:block;
    border-radius:3px;
padding:8px 12px;
color:#fff;
font-family:arial;
font-size:14px;
text-shadow:1px 1px rgba(0,0,0,0.1);
box-shadow:0px 1px 0px rgba(255,255,255,0.05) inset;
background:#333;
  
}

hoverhands {
    vertical-align:
    border-right: 1px solid #ddd;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background:#ffa6a6;
    color:white;
    box-shadow:0px 1px 0px rgba(255,255,255,0.05) inset;
    padding: 5px 10px 5px 10px;
    background: #d3d3d3
    border-radius:3px;
    position:relative;
   
}

.marker {
    position: absolute;
    top:0px;
    
}
.arrow_box {
    padding: 5px 10px;
    bottom: 5px;
	position: absolute;
    visibility: hidden;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #ff5656;
	border-width: 10px;
	margin-left: -10px;
    visibility: hidden;
}

hoverhands:hover .arrow_box {
    visibility: visible;   
}

hoverhands:hover .arrow_box:after {
    visibility: visible;
}
